@page
@using stripboeken.Models
@using Microsoft.AspNetCore.Identity
@model stripboeken.Pages.Comic
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    <div class="row mt-2">
        <h1>@Model.Uitgave.BoekTitel</h1>
        <p>Reeks: @Model.Uitgave.ReeksTitel</p>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <div class="" style="width: 19rem;">
                    <img class="" src="@Model.Uitgave.AfbeeldingsPad" alt="card d image cap">
                </div>
            </div>
            <div class="col">
                <div>
                    <p>
                        <b>Beschrijving:</b> <br />

                        @Model.Uitgave.Beschrijving
                    </p>
                    @if (@Model.Uitgave.Weetjes != null)
                    {
                        <p>
                            <b>Weetjes:</b> <br />

                            @Model.Uitgave.Weetjes
                        </p>
                    }
                </div>
                <div class="align-content-center">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <form method="POST">
                                <button asp-route-uitgaveid="@Model.UitgaveId" asp-page-handler="AddToCollection" class="btn btn-secondary btn-lg">Voeg toe aan collectie</button>
                            </form>
                            <a asp-page="EditComic" asp-route-uitgaveid="@Model.UitgaveId" class="delete">Verwijderen</a>

                        }
                        else
                        {
                            <p class="text-danger">Maak eerst een account om dit stripboek toe te voegen aan je collectie</p>

                        }
                    }
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h2>
                        <b>Stripboek informatie:</b>
                    </h2>
                    <pre>

    Auteur: @foreach (Auteur schrijver in @Model.Auteurs) { @if (@schrijver.Functie != "Illustrator") {<a href="@schrijver.Weblink">@schrijver.Voornaam @schrijver.Achternaam</a>}}

    Illustrator: @foreach (Auteur illustrator in @Model.Auteurs) { @if (@illustrator.Functie != "Schrijver") {<a href="@illustrator.Weblink">@illustrator.Voornaam @illustrator.Achternaam</a>}}

    ISBN: @Model.Uitgave.ISBN
    Jaar: @Model.Uitgave.Jaar
    Uitgever: @Model.Uitgave.Uitgever
    Druk: @Model.Uitgave.Druk
    Cover: @Model.Uitgave.Cover
    Taal: @Model.Uitgave.Taal
    Aantalblz: @Model.Uitgave.AantalBladzijden
    Afmetingen: @Model.Uitgave.Hoogte x @Model.Uitgave.Breedte cm
                    </pre>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h5>
                        <b> Meer van deze reeks: </b>
                    </h5>
                    @foreach (Uitgave uitgave in @Model.Uitgaves)
                    {
                        <div class="card mb-2" style="width: 9rem;">
                            <img class="card-img-top" src="@uitgave.AfbeeldingsPad" alt="Card image cap">
                            <div class="card-body">
                                <h10 class="card-title">@uitgave.Boek.Titel</h10>
                                <p class="card-text"><b>@uitgave.Jaar</b></p>
                                <a asp-page="/Comic" asp-route-uitgaveid="@uitgave.UitgaveId" class="stretched-link"></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>