@page
@using stripboeken.Models
@model stripboeken.Pages.EditComic


<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

<style>
    .breadcrumbs {
    padding: 10px;
    
    }
    .breadcrumbs__item {
    display: inline-block;
    }
    
    .breadcrumbs__item:not(:last-of-type)::after{
     content: '>';
     margin: 0 5px;
     color: #cccccc;
     }
     
     .breacrumbs__link {
     text-decoration: none;
     color: #999999;
     }
</style>

<ul class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="https://localhost:7276" class="breacrumbs__link">
            Home
        </a>
    </li>
    <li class="breadcrumbs__item">
        <a href="" class="breacrumbs__link breadcrumbs__link--active">
            Uitgave toevoegen
        </a>
    </li>
    
</ul>


<div>
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h1 class="mb-3">Bewerk Comic</h1>
                <form method="POST">
                    @*Hidden inputs worden gebruikt voor de ModelBining*@
                    <input type="hidden" asp-for="EditUitgave.UitgaveId" value="@Model.Uitgave.UitgaveId"/>
                    <input type="hidden" asp-for="EditBoek.BoekId" value="@Model.Uitgave.BoekId"/>
                    <input type="hidden" asp-for="EditBoek.ReeksId" value="@Model.Uitgave.ReeksId"/>
                    <div class="mb-3">
                        <label asp-for="EditBoek.Titel" class="form-label"></label>
                        <input type="text" asp-for="EditBoek.Titel" value="@Model.Uitgave.BoekTitel" class="form-control"/>
                        <span asp-validation-for="EditBoek.Titel" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditBoek.WebLink" class="form-label"></label>
                        <input type="text" asp-for="EditBoek.WebLink" value="@Model.Uitgave.Weblink" class="form-control"/>
                        <span asp-validation-for="EditBoek.WebLink" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.ISBN" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.ISBN" value="@Model.Uitgave.ISBN" class="form-control"/>
                        <span asp-validation-for="EditUitgave.ISBN" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="EditUitgave.AfbeeldingsPad" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.AfbeeldingsPad" value="@Model.Uitgave.AfbeeldingsPad" class="form-control"/>
                        <span asp-validation-for="EditUitgave.AfbeeldingsPad" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Jaar" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Jaar" value="@Model.Uitgave.Jaar" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Jaar" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Uitgever" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Uitgever" value="@Model.Uitgave.Uitgever" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Uitgever" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Druk" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Druk" value="@Model.Uitgave.Druk" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Druk" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Cover" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Cover" value="@Model.Uitgave.Cover" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Cover" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Taal" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Taal" value="@Model.Uitgave.Taal" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Taal" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.AantalBladzijden" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.AantalBladzijden" value="@Model.Uitgave.AantalBladzijden" class="form-control"/>
                        <span asp-validation-for="EditUitgave.AantalBladzijden" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Breedte" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Breedte" value="@Model.Uitgave.Breedte" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Breedte" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Hoogte" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Hoogte" value="@Model.Uitgave.Hoogte" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Hoogte" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Beschrijving" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Beschrijving" value="@Model.Uitgave.Beschrijving" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Beschrijving" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="EditUitgave.Weetjes" class="form-label"></label>
                        <input type="text" asp-for="EditUitgave.Weetjes" value="@Model.Uitgave.Weetjes" class="form-control"/>
                        <span asp-validation-for="EditUitgave.Weetjes" class="text-danger"></span>

                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn btn-dark">Update uitgave</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>