@page
@using Microsoft.AspNetCore.Identity
@using stripboeken.Models
@model stripboeken.Pages.MyCollection
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Mijn collectie";
}
<div>
    <section>
        <h1>
            Welkom @User.Identity.Name , Bij je collectie
        </h1>
        <div>
            <div class="row row-cols-1 row-cols-md-5 g-4">
                @foreach (Bezit boek in @Model.Bezit)
                {
                    <div class="col">
                        <div class="card h-100" style="width: 13rem;">
                            <img class="card-img-top" src="@boek.AfbeeldingsPad" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@boek.Staat</h5>
                                <p class="card-text">@boek.Waardering</p>
                                <a asp-page="/Comic" asp-route-uitgaveid="@boek.UitgaveId" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>